body{
    font-family: 'Didact Gothic', sans-serif;
}

.ctn-body{
    width: 1000px;
}

.slide-img{
    width:100%;
    object-fit: cover;
    height: 300px;
}

.login-body{
    padding-top: 50px;
    padding-bottom:100px;
    width:500px;

}

.reg-body{
    padding-top: 50px;
    padding-bottom:100px;
    width:900px;
}